<%- include partials/header.ejs %>
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10  col-12 mx-auto">
            <div class="main_content">
                <h2><%= msg%></h2>
                <h4>First name : <%= firstname%></h4>
                <h4>Last name: <%= lastname%></h4>
                <h4>EMail : <%= email%></h4>
                <h4>Address: <%= address %></h4>
            </div>
        </div>
    </div>
</div>
<%- include partials/footer.ejs %>
